@charset "utf-8";

body{
	color: white;
	background-color: #fdd;
}
header{
	width: 430px;
	margin: 0 auto;
	font-size: 12px;
}
header .skin{
	margin-bottom: 10px;
}
header .skin div{
	display:inline-block;
	width: 6px;
	height: 6px;
	margin-right: 5px;
	cursor: pointer;
	border-width: 4px;
	border-style: solid;
}
.skin .red{
	background-color: white;
	border-color: red;
}
.skin .green{
	background-color: green;
	border-color: green;
}
.skin .black{
	background-color: black;
	border-color: black;
}
nav{
	font-size: 0;
}
nav div{
	font-size: 12px;
	display: inline-block;
	padding:5px 30px;
	border: 1px solid white;
	background-color: red;
	color: white;
}
